h1 {
    color:red;
    font-style: italic;
    outline-style: dotted;
    column-rule-style: ridge;
}

h2 {
    color:aquamarine;
    font-style: oblique;
    outline-style: groove;
    outline-color: cadetblue;
    font-variant: small-caps;
}